<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Configuration de la base de données -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/cyclisme_db</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Dialecte Hibernate pour PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Show SQL -->
        <property name="hibernate.show_sql">true</property>

        <!-- Format SQL pour plus de lisibilité -->
        <property name="hibernate.format_sql">true</property>

        <!-- Automatiser la création des tables (update, create, create-drop) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <mapping class="org.example.entity.Cyclist"/>
        <mapping class="org.example.entity.Competition"/>
<!--        <mapping class="org.example.entity.Stage"/>-->
<!--        <mapping class="org.example.entity.Result"/>-->

    </session-factory>
</hibernate-configuration>
