<configuration>
    <logger name="org.hibernate" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

        <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
        <!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
        <!--       xmlns:mvc="http://www.springframework.org/schema/mvc"-->
        <!--       xmlns:context="http://www.springframework.org/schema/context"-->
        <!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--            http://www.springframework.org/schema/beans/spring-beans.xsd-->
        <!--            http://www.springframework.org/schema/mvc-->
        <!--            http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">-->

        <!--    &lt;!&ndash; Enable Spring MVC &ndash;&gt;-->
        <!--    <mvc:annotation-driven />-->

        <!--    &lt;!&ndash; Component scanning &ndash;&gt;-->
        <!--    <context:component-scan base-package="org.example"/>-->

        <!--    &lt;!&ndash; View resolver for JSP &ndash;&gt;-->
        <!--    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--        <property name="prefix" value="/WEB-INF/views/"/>-->
        <!--        <property name="suffix" value=".jsp"/>-->
        <!--    </bean>-->

        <!--</beans>-->



        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
        <!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"-->
        <!--       xmlns:context="http://www.springframework.org/schema/context"-->
        <!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
        <!--                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">-->

        <!--    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">-->
        <!--        <property name="driverClassName" value="org.postgresql.Driver"/>-->
        <!--        <property name="url" value="jdbc:postgresql://localhost:5432/CCH"/>-->
        <!--        <property name="username" value="postgres"/>-->
        <!--        <property name="password" value="User_Password"/>-->
        <!--    </bean>-->

        <!--    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
        <!--        <property name="dataSource" ref="dataSource"/>-->
        <!--        <property name="packagesToScan" value="org.example.entity"/>-->
        <!--        <property name="jpaVendorAdapter">-->
        <!--            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>-->
        <!--        </property>-->
        <!--        <property name="jpaProperties">-->
        <!--            <props>-->

        <!--                <prop key="hibernate.show_sql">true</prop>-->
        <!--                <prop key="hibernate.format_sql">true</prop>-->
        <!--                <prop key="hibernate.hbm2ddl.auto">update</prop>-->
        <!--            </props>-->
        <!--        </property>-->
        <!--    </bean>-->

        <!--    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--        <property name="entityManagerFactory" ref="entityManagerFactory" />-->

        <!--    </bean>-->

        <!--    <jpa:repositories base-package="org.example.repository"/>-->

        <!--    <context:component-scan base-package="org.example"/>-->

        <!--    <bean id="teamService" class="org.example.services.Impl.TeamService">-->
        <!--    </bean>-->



        <!--</beans>-->


        <!--<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"-->
        <!--         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
        <!--         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee-->
        <!--         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"-->
        <!--         version="3.1">-->

        <!--    <servlet>-->
        <!--        <servlet-name>dispatcher</servlet-name>-->
        <!--        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!--        <init-param>-->
        <!--            <param-name>contextConfigLocation</param-name>-->
        <!--            <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>-->
        <!--        </init-param>-->
        <!--        <load-on-startup>1</load-on-startup>-->
        <!--    </servlet>-->

        <!--    <servlet-mapping>-->
        <!--        <servlet-name>dispatcher</servlet-name>-->
        <!--        <url-pattern>/api/*</url-pattern>-->
        <!--    </servlet-mapping>-->

        <!--</web-app>-->